/* Ensure links in the explorer behave like terminal items */
.explorer-tree a {
    text-decoration: none;
    display: block;
    color: inherit;
}

.tree-item {
    cursor: pointer;
    transition: background 0.2s;

}

/* ========== quickLinks ========== */
#quickLinksContainer {
    scrollbar-width: thin;
    scrollbar-color: #1fff8e transparent;
}

#quickLinksContainer::-webkit-scrollbar {
    width: 6px;
}

#quickLinksContainer::-webkit-scrollbar-thumb {
    background-color: #1fff8e;
    border-radius: 10px;
    border: 1px solid #0b140b;
}


